<div class="container">
  <h4 class="mb-3">Edit Profile</h4>
  <%= form_with url: profile_path, model: user, method: :patch, class: "needs-validation" do |f| %>
    <div class="row">
      <div class="col-md-6 mb-3">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, class: "form-control form-control-sm" %>
        <% if user.errors[:first_name].present? %>
          <div class="text-danger">
            First name is required.
          </div>
        <% end %>
      </div>

      <div class="col-md-6 mb-3">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: "form-control form-control-sm" %>
        <% if user.errors[:last_name].present? %>
          <div class="text-danger">
            Last name is required.
          </div>
        <% end %>
      </div>

      <div class="col-md-6 mb-3">
        <%= f.label :email %>
        <%= f.text_field :email, class: "form-control form-control-sm", disabled: true, placeholder: "address@domain.com" %>
        <div class="invalid-feedback">
          Please enter a valid email address for shipping updates.
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mb-3">
        <%= f.label :image, "Profile Image" %>
        <%= f.file_field :image, class: "form-control-file form-control-sm" %>
      </div>
    </div>

    <hr class="mb-4">

    <%= f.submit "Submit", class: "btn btn-primary btn-block mb-5" %>
  <% end %>
</div>