<div class="marketing mt-5 mb-5">
  <div class="row">
    <div class="col-lg-4">
      <%= image_tag @user.image.blank? ? "data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" : @user.image.url(:medium), class: "rounded-circle", width: "140", height: "140" %>
      <h2 class="mt-3"><%= @user.full_name %></h2>
      <p>Bio section</p>
    </div>

    <div class="col-lg-8">
      <h2>Details</h2>
      <p><strong>Full Name:</strong> <%= @user.full_name %></p>
      <p><strong>Email:</strong> <%= @user.email %></p>
      <% if current_user == @user || current_user.admin?%>
        <p>
          <%= link_to "Edit profile", edit_profile_path(@user), class: "btn btn-primary", role: "button" %>
        </p>
      <% end %>
    </div>
  </div>
</div>

