<div class="container marketing mt-5 mb-5">
  <div class="row">
    <div class="col-lg-4">
      <%= image_tag @user.image.blank? ? "data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" : @user.image.url(:medium), class: "rounded-circle", width: "140", height: "140" %>
      <h2 class="mt-3"><%= @user.first_name %></h2>
      <p>Bio section</p>
    </div>

    <div class="col-lg-8">
      <h3>User Details</h3>
      <p><strong>Full Name:</strong> <%= @user.first_name + " " + @user.last_name %></p>
      <p><strong>Email:</strong> <%= @user.email %></p>
      <% if current_user == @user || current_user.admin?%>
        <p>
          <%= link_to "Edit profile", edit_profile_path(@user), class: "btn btn-primary", role: "button" %>
        </p>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 offset-lg-4">
      <h3>User Favorites</h3>

      <ul class="list-group">
        <% if @user.movies.blank? %>
          No favorites found!
        <% else %>
          <% @user.movies.each do |movie| %>
            <li class="list-group-item"><%= link_to movie.title, movie %><button class=" btn btn-success btn-sm float-right"><i class="fas fa-heart"></i></button></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>


</div>

