<aside class="col-md-4">
  <div class="widget latest-posts">
    <header>
      <h3 class="h6">Movies</h3>
    </header>
    <div class="blog-posts">
      <% @actor.casts.each do |cast| %>
        <%= link_to cast.movie do %>
          <div class="item d-flex align-items-center">
            <div class="image"><%= image_tag cast.movie.image.url(:thumb), class: "img-fluid" %></div>
            <div class="title">
              <strong><%= cast.movie.title %></strong>
              <div class="d-flex align-items-center">
                <div class="views"><%= cast.movie.release_year %></div>
                <div class="comments"><i class="icon-comment"></i><%= cast.movie.reviews.count %></div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</aside>