<div class="album py-5">
  <div class="container">

    <h3 class="mb-4">
      All Actors

      <% if current_user&.admin? %>
        <%= link_to new_actor_path, class: "btn btn-primary btn-sm float-right" do %>
          <i class="fas fa-video"></i> Add New Actor
        <% end %>
      <% end %>
    </h3>

    <div class="row">
      <% @actors.each do |actor| %>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <%= link_to (image_tag actor.image.url(:medium), class: "card-img-top", width: "100", height: "250"), actor %>
            <div class="card-body">
              <h5><%= actor.full_name %></h5>

              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= link_to "View", actor, class: "btn btn-sm btn-outline-primary" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <%= paginate @actors, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm float-right" %>

  </div>
</div>