<% content_for :title, "Actors List" %>

<% if current_user&.admin? %>
  <%= link_to new_actor_path, class: "btn btn-info btn-sm" do %>
    <i class="fas fa-user-plus"></i> Add New Actor
  <% end %>
<% end %>

<div class="row mt-4">
  <div class="col-12 col-sm-8">
    <div class="row">
      <!-- Content -->
      <% @actors.each do |actor| %>
        <div class="col-6 col-sm-3 mb-2">
          <div class="card">
            <%= link_to (image_tag actor.image.url(:medium), class: "card-img-top"), actor %>
            <div class="card-body">
              <h5 class="card-title"><%= link_to "#{actor.full_name}", actor %></h5>
              <%= link_to actor, class: "btn btn-primary btn-sm mt-3" do %>
                <i class="far fa-user"></i> View Actor
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <!-- Pagination -->
    <%= paginate @actors, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>
  </div>

  <!-- Sidebar -->
  <%= render 'layouts/sidebar' %>
</div>