<div class="container">
  <header>
    <h1 class="h3 mt-5 font-weight-normal">Login</h1>
  </header>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="row">
      <div class="form-group col-md-6">
        <%= f.label :email, "Email address" %>
        <%= f.email_field :email, class: "form-control", placeholder: "Email address", autofocus: true %>
      </div>

      <div class="form-group col-md-6">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control" %>
      </div>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="checkbox mb-3">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <%= f.submit "Login", class: "btn btn-primary" %>
  <% end %>

  <p>If you are not registered then <%= link_to "register here", new_user_registration_path %>.</p>
</div>
