<h3>Add or Update movie details</h3>

<%= form_with(model: movie) do |f| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% movie.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, "Title" %>
    <%= f.text_field :title, class: "form-control form-control-sm" %>
  </div>

  <div class="form-group">
    <%= f.label :release_year, "Release Year" %>
    <%= f.text_field :release_year, class: "form-control form-control-sm" %>
  </div>

  <div class="form-group">
    <%= f.label :genre, "Genre" %>
    <%= f.text_field :genre, class: "form-control form-control-sm" %>
  </div>

  <div class="form-group">
    <%= f.label :director, "Director" %>
    <%= f.text_field :director, class: "form-control form-control-sm" %>
  </div>

  <div class="form-group">
    <%= f.label :summary, "Summary" %>
    <%= f.text_area :summary, class: "form-control form-control-sm" %>
  </div>

  <div class="form-group">
    <%= f.label :image, "Select Image" %>
    <%= f.file_field :image, class: "form-control-file form-control-sm" %>
  </div>

  <%= link_to :back, class: "btn btn-danger btn-sm" do %>
    <i class="fas fa-long-arrow-alt-left"></i> Back
  <% end %>

  <%= f.button :submit, class: "btn btn-primary float-right btn-sm" do %>
    <i class="fas fa-save"></i> Submit
  <% end %>
<% end %>