<div class="row">
  <div class="col-lg-12">
    <h3>Reviews</h3>

    <ul class="list-group">
      <% if @movie.reviews.blank? %>
        No reviews found!
      <% else %>
        <% @movie.reviews.order(created_at: :desc).each do |review| %>
          <li class="list-group-item">
            <p><%= review.comment %><strong class="float-right"><i class="fas fa-star"></i> <%= review.score %></strong></p>
            <p>
              <small><%= review.user.first_name %> - <%= time_ago_in_words(review.created_at) %></small>
              <% if current_user.admin? || review.belongs_to_current_user?(current_user) %>
                <%= link_to "Edit", edit_movie_review_path(@movie, review), class: "btn btn-sm btn-warning float-right" %>
                <%= button_to "Detele", movie_review_path(@movie, review), method: :delete, class: "btn btn-sm btn-danger float-right" %>
              <% end %>
            </p>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>