<div class="add-comment">
  <header>
    <h3 class="h6">Leave a comment</h3>
  </header>

  <% if user_signed_in? %>
    <%= form_with model: [@movie, @review], class: "" do |f| %>
      <div class="row">
        <div class="form-group col-md-2">
          <%= f.label :score, class: "form-label" %>
          <%= f.select :score, (1..5).map { |i| [i, i] }, { include_blank: true }, class: "form-control" %>
        </div>

        <div class="form-group col-md-12">
          <%= f.label :comment, class: "form-label" %>
          <%= f.text_area :comment, class: "form-control", placeholder: "Type your comment" %>
        </div>

        <div class="form-group col-md-12">
          <%= f.button "Submit Comment", type: :submit, class: "btn btn-primary btn-sm" %>
        </div>
      </div>
    <% end %>
  <% else %>
    <%= link_to "Login to post a comment", new_user_session_path, class: "btn btn-primary btn-sm" %>
  <% end %>

</div>