<div class="post-comments">
  <header>
    <h3 class="h6">Reviews<span class="no-of-comments">(<%=@movie.reviews.count %>)</span></h3>
  </header>

  <% if @movie.reviews.any? %>
    <% @movie.reviews.order(created_at: :desc).each do |review| %>
      <div class="comment">
        <div class="comment-header d-flex justify-content-between">
          <div class="user d-flex align-items-center">
            <div class="image"><%= image_tag review.user.image.blank? ? "data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" : review.user.image.url, class: "img-fluid rounded-circle" %></div>
            <div class="title"><strong><%= review.user.first_name %> <%= review.user.last_name %></strong><span class="date"><%= review.created_at.strftime('%B %Y') %></span></div>
          </div>


        </div>
        <div class="comment-body">
          <p><%= review.comment %></p>
          <p>
            Review: 
            <% review.score.times do |i| %>
              <i class="fas fa-star" style="color: green"></i>
            <% end %>
          </p>
          <div class="row">
            <%= link_to "Edit", edit_movie_review_path(@movie, review), class: "btn btn-sm btn-warning" %> |
            <%= button_to "Delete", movie_review_path(@movie, review), method: :delete, class: "btn btn-sm btn-danger float-right", data: { confirm: ("Are you sure?") } %>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>No reviews yet.</p>
  <% end %>
</div>