<div class="container">
  <div class="row">

    <main class="posts-listing col-lg-8">
      <div class="container">
        <div class="row">

          <% @movies.each do |movie| %>
            <div class="post col-xl-6">
              <div class="post-thumbnail">
                <%= link_to (image_tag movie.image.url(:medium), class: "img-fluid"), movie %>
              </div>

              <div class="post-details">
                <%= link_to movie do %>
                  <h3 class="h4"><%= movie.title %></h3>
                <% end %>

                <p class="text-muted"><%= movie.story.truncate(445, separator: ' ') %></p>

                <footer class="d-flex align-items-center">
                  <div class="title"><%= movie.director %></div>
                  <div class="date"><%= movie.genre %></div>
                  <div class="date"><%= movie.release_year %></div>
                  <div class="comments meta-last"><i class="icon-comment"></i><%= movie.reviews.count %></div>
                </footer>
              </div>
            </div>
          <% end %>
        </div>

        <%= paginate @movies, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm float-right" %>
      </div>
    </main>

    <%= render 'movies/aside' %>
  </div>
</div>