<div class="album py-5">
  <div class="container">

    <h3 class="mb-4">
      All Movies

      <% if current_user&.admin? %>
        <%= link_to new_movie_path, class: "btn btn-primary btn-sm float-right" do %>
          <i class="fas fa-video"></i> Add New Movie
        <% end %>
      <% end %>
    </h3>

    <div class="row">
      <% @movies.each do |movie| %>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <%= link_to (image_tag movie.image.url(:medium), class: "card-img-top", width: "100", height: "250"), movie %>
            <div class="card-body">
              <h5><%= movie.title %></h5>
              <p class="card-text"><%= movie.summary %></p>
              <small class="card-text"><%= movie.genre %></small>

              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= link_to "View", movie, class: "btn btn-sm btn-outline-primary" %>
                </div>

                <small class="text-muted">
                  Directed by: <%= movie.director %>
                  <% movie.reviews.any? ? " | Rate: #{movie.reviews.average(:score)}" : "" %>
                </small>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <%= paginate @movies, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm float-right" %>

  </div>
</div>