<div class="container movie-details mt-5 mb-4">
  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading"><%= @movie.title %></h2>
      <p class="lead mb-0">Release Year: <%= @movie.release_year %></p>
      <p class="lead mb-0">Genre: <%= @movie.genre %></p>
      <p class="lead">Directed by: <%= @movie.director %></p>
      <p class="lead">Ratings: <%= @movie.average_rating || "No ratings yet" %></p>
      <p class="lead"><strong>Story Plot: </strong><%= @movie.summary %></p>

      <div class="mt-3">
        <% unless @movie.user_favorite?(current_user) %>
          <%= button_to movie_add_to_favorites_path(@movie), class: "btn btn-sm btn-success mb-4" do %>
            <i class="fas fa-heart"></i> Add to favorites
          <% end %>
        <% else %>
          <%= button_to movie_remove_from_favorites_path(@movie), class: "btn btn-sm btn-danger mb-4", method: :delete do %>
            <i class="fas fa-times"></i> Remove from favorites
          <% end %>
        <% end %>

        <% if current_user.admin? %>
          <div class="row col-md-12">
            <%= link_to edit_movie_path(@movie), class: 'btn btn-warning btn-sm' do %>
              <i class="far fa-edit"></i> Edit
            <% end %>
            <%= button_to @movie, { class: "btn btn-danger btn-sm pull-right", method: :delete } do %>
              <i class="far fa-trash-alt"></i> Delete
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-md-5 order-md-1">
      <%= image_tag @movie.image.url(:medium), class: "featurette-image img-fluid mx-auto", width: "500", height: "500" %>
    </div>
  </div>

  <hr class="featurette-divider">

  <%= render 'movies/casts' %>
  <%= render 'movies/cast_form' %>

  <hr class="featurette-divider">

  <%= render 'movies/reviews' %>
  <div class="row">
    <div class="col-md-4">
      <%= link_to "Add review to this movie", new_movie_review_path(@movie), class: "btn btn-primary btn-sm mt-4" %>
    </div>
  </div>

  <%#= render 'movies/review_form' %>
</div>
