<div class="container">
  <div class="row">
    <!-- Latest Posts -->
    <main class="post blog-post col-lg-12 no-padding-bottom">
      <div class="container">
        <div class="post-single">
          <div class="post-thumbnail"><%= image_tag @movie.image.url(:medium), class: "img-fluid" %></div>

          <div class="post-details">
            <h3>
              <%= @movie.title %>
              <% if user_signed_in? %>
                <% unless @movie.user_favorite?(current_user) %>
                  <%= button_to movie_add_to_favorites_path(@movie), class: "btn btn-sm btn-success float-right" do %>
                    <i class="fas fa-heart"></i> Add to favorites
                  <% end %>
                <% else %>
                  <%= button_to movie_remove_from_favorites_path(@movie), class: "btn btn-sm btn-danger float-right", method: :delete do %>
                    <i class="fas fa-times"></i> Remove from favorites
                  <% end %>
                <% end %>
              <% end %>
            </h3>

            <div class="d-flex align-items-center flex-column flex-sm-row">
              <div class="title"><span><%=@movie.director %></span></div>
              <div class="d-flex align-items-center flex-wrap">
                <div class="date"><%= @movie.genre %></div>
                <div class="date"><%=@movie.release_year %></div>
                <div class="comments meta-last"><i class="icon-comment"></i><%= @movie.reviews.count %></div>
              </div>
            </div>

            <div class="d-flex align-items-center flex-column flex-sm-row">
              <div class="meta-last">
                <i class="fas fa-star" style="color: green"></i> <%= @movie.reviews.average(:score) || 0 %></div>
            </div>

            <div class="post-body"><p class="lead"><%= @movie.story %></p></div>

            <%= render 'movies/reviews' %>
            <%= render 'movies/review_form' %>
          </div>
        </div>
      </div>
    </main>

  </div>
</div>