<% content_for :title, "#{@movie.title}" %>

<!--<div class="row mt-4">-->
  <!-- Content -->
<!--  <div class="col-12 col-sm-8">-->
<!--    <p><%#= image_tag @movie.image.url(:medium), class: "img-fluid" %></p>-->
<!--    <div class="movie-content">-->
<!--      <h5>Movie Plot: <small><%#= @movie.summary %></small></h5>-->

<!--      <h5>Director: <small><%#= @movie.director %></small></h5>-->

<!--      <h5>Release Year: <small><%#= @movie.release_year %></small></h5>-->

<!--      <h5>Genre: <small><%#= @movie.genre %></small></h5>-->

<!--      <h5>Movie Ratings: <span class="badge badge-warning"><%#= @movie.reviews.any? ? @movie.reviews.average(:score) : "No reviews yet" %></span></h5>-->

      <%#= button_to movie_add_to_favorites_path(@movie), class: "btn btn-sm btn-success" do %>
<!--        <i class="fas fa-heart"></i> Add to favorites-->
      <%# end %>

      <%# if current_user&.admin? %>
<!--        <div class="row">-->
          <%#= link_to edit_movie_path(@movie), class: 'btn btn-warning btn-sm' do %>
<!--            <i class="far fa-edit"></i> Edit-->
          <%# end %>
          <%#= button_to @movie, { class: "btn btn-danger btn-sm", method: :delete } do %>
<!--            <i class="far fa-trash-alt"></i> Delete-->
          <%# end %>
<!--        </div>-->

      <%# end %>

<!--      <hr/>-->

      <%#= render 'movies/casts' %>
      <%#= render 'movies/cast_form' %>

<!--      <hr/>-->

      <%#= render 'movies/reviews' %>
      <%#= render 'movies/review_form' %>
<!--    </div>-->
<!--  </div>-->

  <!-- Sidebar -->
  <%#= render 'layouts/sidebar' %>
<!--</div>-->

<!--<div class="container mt-4">-->
<!--  <div class="row">-->
<!--    <div class="card flex-md-row mb-4 box-shadow h-md-250">-->
      <%#= image_tag @movie.image.url(:medium), class: "card-img-right flex-auto d-none d-md-block" %>

<!--      <div class="card-body d-flex flex-column align-items-start">\-->
<!--        <h3 class="mb-2 text-dark">-->
          <%#= @movie.title %>
<!--        </h3>-->
<!--        <div class="mb-1">Genre: <%#= @movie.genre %></div>-->
<!--        <div class="mb-1">Release Year: <%#= @movie.release_year %></div>-->
<!--        <div class="mb-1">Director: <%#= @movie.director %></div>-->
<!--        <div class="mb-1">-->
<!--          <strong>Story Plot:</strong>-->
<!--          <p class="card-text mb-auto">kjr gidsfh skjdd fh ksjdfgskj dfg dsjfdasd kj rgids fhskjdfh ksjdfgsk jdfgdsjf kjrgidsfhsk jdfhksjdfgs kjdfgdsjfk jrgidsfhskj dfh ksjdfgs kjdfgdsjf kjrgids fhskjdfhksjdfgs kjdfgdsjfkjrgidsfh skjdfhksjd fgskjdfgd sjfkjrgidsf hskjdfhksjdfgskj dfgdsjfkjrgids fhskjdfhksjdfgskjdfg dsjfkjrgid sfhskjdfhk sjdfgskjdfgdsjfkj rgidsfhskjdfh ksjdfgskjdfgdsjf</p>-->
<!--        </div>-->
<!--      </div>-->

<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div class="container movie-details mt-5 mb-4">
  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading"><%= @movie.title %></h2>
      <p class="lead mb-0">Release Year: <%= @movie.release_year %></p>
      <p class="lead mb-0">Genre: <%= @movie.genre %></p>
      <p class="lead">Directed by: <%= @movie.director %></p>
      <p class="lead">Ratings: <%= @movie.reviews.average(:score) %></p>
      <p class="lead"><strong>Story Plot: </strong><%= @movie.summary %></p>

      <div class="mt-3">
        <%= button_to movie_add_to_favorites_path(@movie), class: "btn btn-sm btn-success" do %>
          <i class="fas fa-heart"></i> Add to favorites
        <% end %>
      </div>
    </div>

    <div class="col-md-5 order-md-1">
      <%= image_tag @movie.image.url(:medium), class: "featurette-image img-fluid mx-auto", width: "500", height: "500" %>
    </div>
  </div>

  <hr class="featurette-divider">

  <%= render 'movies/casts' %>
  <%= render 'movies/cast_form' %>

  <hr class="featurette-divider">

  <%= render 'movies/reviews' %>
  <%= render 'movies/review_form' %>
</div>
