<% content_for :title, "#{@movie.title}" %>

<div class="row mt-4">
  <!-- Left Content -->
  <div class="col-12 col-sm-8">
    <p><%= image_tag @movie.image.url(:medium), class: "img-fluid" %></p>
    <div class="movie-content">
      <h5>Movie Plot: <small><%= @movie.summary %></small></h5>

      <h5>Director: <small><%= @movie.director %></small></h5>

      <h5>Release Year: <small><%= @movie.release_year %></small></h5>

      <h5>Genre: <small><%= @movie.genre %></small></h5>

      <h5>Movie Ratings: <small><%= @movie.genre %></small></h5>

      <% if current_user&.admin? %>
        <%= link_to edit_movie_path(@movie), class: 'btn btn-warning btn-sm' do %>
          <i class="far fa-edit"></i> Edit
        <% end %>
        <%= button_to @movie, { class: "btn btn-danger btn-sm", method: :delete } do %>
          <i class="far fa-trash-alt"></i> Delete
        <% end %>
      <% end %>

      <hr/>

      <h5 class="mt-3">Casts</h5>
      <table class="table table-bordered">
        <% @movie.actors.each do |actor| %>
          <tr>
            <td><%= link_to (image_tag actor.image.url(:medium), width: '100'), actor %></td>
            <td><%= link_to "#{actor.full_name}", actor %></td>
          </tr>
        <% end %>
      </table>

      <!-- Add cast -->
      <% if current_user&.admin? %>
        <div class="card mt-4">
          <h5 class="card-header">Add cast to movie</h5>
          <div class="card-body">
            <%= form_with url: movie_create_cast_path(@movie.id), method: :post do |f| %>
              <div class="form-group">
                <%= f.select :actor_id, Actor.all.map { |t| [t.full_name, t.id] },
                             { include_blank: true },
                             class: "form-control" %>
              </div>
              <%= f.submit "Add cast", class: "btn btn-sm btn-primary float-right" %>
            <% end %>
          </div>
        </div>
      <% end %>

      <hr/>

      <!-- Rate movie -->
      <div class="card mt-4">
        <h5 class="card-header">Rating with Comment</h5>
        <div class="card-body">
          <form>
            <select class="form-control mb-2">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
            <textarea class="form-control"></textarea>
            <input type="submit" class="btn btn-dark mt-2" />
          </form>
        </div>
      </div>

      <!-- List Comment Start -->
      <div class="card mt-4">
        <h5 class="card-header">Comments</h5>
        <div class="card-body">
          <blockquote class="blockquote">
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">Comment by abc</footer>
          </blockquote>
          <hr/>
          <blockquote class="blockquote">
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">Comment by abc</footer>
          </blockquote>
          <hr/>
          <blockquote class="blockquote">
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">Comment by abc</footer>
          </blockquote>
          <hr/>
          <blockquote class="blockquote">
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">Comment by abc</footer>
          </blockquote>
        </div>
      </div>
      <!-- List Comment End -->
    </div>
  </div>
  <!-- ##	End -->

  <!-- Right Sidebar -->
  <%= render 'layouts/sidebar' %>
</div>
