<% content_for :title, "#{@movie.title}" %>

<div class="row mt-4">
  <!-- Content -->
  <div class="col-12 col-sm-8">
    <p><%= image_tag @movie.image.url(:medium), class: "img-fluid" %></p>
    <div class="movie-content">
      <h5>Movie Plot: <small><%= @movie.summary %></small></h5>

      <h5>Director: <small><%= @movie.director %></small></h5>

      <h5>Release Year: <small><%= @movie.release_year %></small></h5>

      <h5>Genre: <small><%= @movie.genre %></small></h5>

      <h5>Movie Ratings: <span class="badge badge-warning"><%= @movie.reviews.any? ? @movie.reviews.average(:score) : "No reviews yet" %></span></h5>

      <%= button_to movie_add_to_favorites_path(@movie), class: "btn btn-sm btn-success" do %>
        <i class="fas fa-heart"></i> Add to favorites
      <% end %>

      <% if current_user&.admin? %>
        <div class="row">
          <%= link_to edit_movie_path(@movie), class: 'btn btn-warning btn-sm' do %>
            <i class="far fa-edit"></i> Edit
          <% end %>
          <%= button_to @movie, { class: "btn btn-danger btn-sm", method: :delete } do %>
            <i class="far fa-trash-alt"></i> Delete
          <% end %>
        </div>

      <% end %>

      <hr/>

      <%= render 'movies/casts' %>
      <%= render 'movies/cast_form' %>

      <hr/>

      <%= render 'movies/reviews' %>
      <%= render 'movies/review_form' %>
    </div>
  </div>

  <!-- Sidebar -->
  <%= render 'layouts/sidebar' %>
</div>
