<section class="featured-posts no-padding-top no-padding-bottom">
  <div class="container">
    <header>
      <h2>My Profile</h2>
    </header>

    <div class="row d-flex align-items-stretch">
      <div class="image col-md-4" style="max-height: 344px; max-width: 344px;"><%= image_tag @user.image.blank? ? "data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" : @user.image.url(:medium) %></div>

      <div class="text col-md-8">
        <div class="text-inner align-items-center">
          <div class="content">
            <header>
              <h2><%= current_user.first_name %> <%= current_user.last_name %></h2>
            </header>

            <p>Email address: <%= current_user.email %></p>
            <%= link_to "Edit profile", edit_user_registration_path, class: "btn btn-sm btn-warning" %>

            <header class="mt-5">
              <h2>Favorites</h2>
            </header>

            <% current_user.movies.each do |movie| %>
              <div class="item d-flex justify-content-between">
                <a href="#"><%= movie.title %></a>
                <span><%= button_to movie_remove_from_favorites_path(movie), method: :delete, class: "btn btn-danger btn-sm" do %><i class="fas fa-times"></i><% end %></span>
              </div>
            <% end %>


          </div>
        </div>
      </div>
    </div>
  </div>
</section>