<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Welcome to ...</h1>
    <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
    <p>
      <%= link_to "View All Movies", movies_path, class: "btn btn-primary my-2" %>
    </p>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">

    <h3 class="mb-4">Latest movies</h3>

    <div class="row">
      <% @movies.each do |movie| %>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <%= link_to (image_tag movie.image.url(:medium), class: "card-img-top", width: "150", height: "250"), movie %>
            <div class="card-body">
              <h5><%= movie.title %></h5>
              <p class="card-text"><%= movie.summary %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= link_to "View", movie, class: "btn btn-sm btn-outline-primary" %>
                </div>
                <small class="text-muted">Directed by: <%= movie.director %></small>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>