<div class="container mb-4">
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card mt-4">
    <h5 class="card-header">Make a review</h5>
    <div class="card-body">
      <%= form_with model: [@movie, review] do |f| %>
        <div class="form-group">
          <%= f.label :score, "Stars"%>
          <%= f.select :score, (1..10).map { |i| [i, i] }, { include_blank: true }, class: "form-control form-control-sm mb-2", required: true %>
        </div>

        <div class="form-group">
          <%= f.label :comment %>
          <%= f.text_area :comment, class: "form-control form-control-sm", required: true %>
        </div>

        <%= f.submit "Submit", class: "btn btn-primary btn-sm mt-2 float-right" %>
      <% end %>
    </div>
  </div>

</div>