<header class="header">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <div class="navbar-header d-flex align-items-center justify-content-between">
        <%= link_to "Movie Database", root_path, class: "navbar-brand" %>

        <button type="button" data-toggle="collapse" data-target="#navbarcollapse" aria-controls="navbarcollapse" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span></span><span></span><span></span></button>
      </div>

      <div id="navbarcollapse" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to "Movies", movies_path, class: "nav-link #{controller.controller_name == 'movies' ? 'active' : ''}" %>
          </li>
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "My profile", user_path(current_user), class: "nav-link" %>
            </li>

            <% if current_user.admin? %>
              <li class="nav-item">
                <%= link_to "Admin", admin_root_path, class: "nav-link" %>
              </li>
            <% end %>

            <li class="nav-item">
              <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link btn" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Login here", new_user_session_path, class: "nav-link #{controller.controller_name == 'sessions' ? 'active' : ''}" %>
            </li>
          <% end %>
        </ul>

      </div>
    </div>
  </nav>
</header>