<div class="col-12 col-sm-4">
  <!-- Search Form -->
  <%#= search_form_for @q, html: { class: "mb-4" } do |f| %>
<!--    <div class="input-group">-->
      <%#= f.search_field :title_cont, class: "form-control", placeholder: "Search Movies" %>

<!--      <div class="input-group-append">-->
        <%#= f.submit 'Search', class: "btn btn-info" %>
<!--      </div>-->
<!--    </div>-->
  <%# end %>

  <!-- Top Movies -->
  <div class="card mb-4">
    <h5 class="card-header">Top Movies by Rating</h5>
    <ul class="list-group list-group-flush">
      <% Review.limit(5).group(:movie_id).average(:score).each do |movie_id, score|%>
        <li class="list-group-item">
          <%= link_to movie_path(movie_id) do %>
            <%= Movie.find(movie_id).title %> <span class="float-right badge badge-warning"><%= score %></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

  <!-- Recent Movie Comments -->
  <div class="card mb-4">
    <h5 class="card-header">Recent Movie Comments</h5>
    <ul class="list-group list-group-flush">
      <% Review.order(created_at: :desc).limit(5).each do |review| %>
        <li class="list-group-item">
          <%= link_to movie_path(review.movie.id) do %>
            <p><%= review.comment %> <span class="float-right badge badge-primary"><%= review.created_at.strftime("%m-%d-%Y") %></span></p>
          <% end %>
          -- <small><%= review.movie.title %></small>
        </li>
      <% end %>
    </ul>
  </div>
</div>