<!--<!DOCTYPE html>-->
<!--<html>-->
<!--  <head>-->
<!--    <title>Movie Database</title>-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
    <%#= csrf_meta_tags %>
    <%#= csp_meta_tag %>

    <%#= javascript_pack_tag 'application' %>
    <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= stylesheet_pack_tag 'application' %>
<!--  </head>-->
<!--  <body id=<%#= controller.controller_name %>>-->
    <%#= render 'layouts/navbar' %>

<!--    <main role="main">-->
<!--      <div class="container">-->
        <%# if notice %>
          <%#= render 'layouts/notice' %>
        <%# end %>

        <%# if alert %>
          <%#= render 'layouts/alert' %>
        <%# end %>
<!--      </div>-->

      <%#= yield %>
<!--    </main>-->

    <%#= render 'layouts/footer' %>
<!--  </body>-->
<!--</html>-->


<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>

    <title>Movie Database</title>
    <meta name="description" content="Training application">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">

    <!-- Google fonts - Open Sans-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
  </head>

  <body>
    <%= render 'layouts/navbar' %>

    <div class="container mt-3">
      <% if notice %>
        <%= render 'layouts/notice' %>
      <% end %>

      <% if alert %>
        <%= render 'layouts/alert' %>
      <% end %>
    </div>

    <%= yield %>

    <%= render 'layouts/footer' %>
  </body>
</html>